
        <div class="artigoResumo">
            <div class="row d-flex align-items-center">
                <div class="col-12 col-sm-12 col-md-12 col-xl-5">
                    <img src="https://static.vecteezy.com/ti/vetor-gratis/p1/1308704-fofo-homem-de-negocios-para-adesivo-e-foto-de-perfil-gr%C3%A1tis-vetor.jpg" width="100%" alt="">
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-xl-7 resumoTitle">
                    <h4 class="mt-0 mt-md-2"><%= postsTop.titulo %></h4>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat esse saepe autemRe pellat esse saepe autem</p>
                    <a href="#">saiba mais</a>
                </div>
            </div>
        </div>
        <div class="artigoResumo">
            <div class="row d-flex align-items-center">
                <div class="col-12 col-sm-12 col-md-12 col-xl-5">
                    <img src="https://static.vecteezy.com/ti/vetor-gratis/p1/1308704-fofo-homem-de-negocios-para-adesivo-e-foto-de-perfil-gr%C3%A1tis-vetor.jpg" width="100%" alt="">
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-xl-7 resumoTitle">
                    <h4 class="mt-0 mt-md-2">Rede Sociais</h4>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat esse saepe autemRe pellat esse saepe autem</p>
                    <a href="#">saiba mais</a>
                </div>
            </div>
        </div>
        <div class="artigoResumo">
            <div class="row d-flex align-items-center">
                <div class="col-12 col-sm-12 col-md-12 col-xl-5">
                    <img src="https://static.vecteezy.com/ti/vetor-gratis/p1/1308704-fofo-homem-de-negocios-para-adesivo-e-foto-de-perfil-gr%C3%A1tis-vetor.jpg" width="100%" alt="">
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-xl-7 resumoTitle">
                    <h4 class="mt-0 mt-md-2">Rede Sociais</h4>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat esse saepe autemRe pellat esse saepe autem</p>
                    <a href="#">saiba mais</a>
                </div>
            </div>
        </div>
        <div class="artigoResumo">
            <div class="row d-flex align-items-center">
                <div class="col-12 col-sm-12 col-md-12 col-xl-5">
                    <img src="https://static.vecteezy.com/ti/vetor-gratis/p1/1308704-fofo-homem-de-negocios-para-adesivo-e-foto-de-perfil-gr%C3%A1tis-vetor.jpg" width="100%" alt="">
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-xl-7 resumoTitle">
                    <h4 class="mt-0 mt-md-2">Rede Sociais</h4>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat esse saepe autemRe pellat esse saepe autem</p>
                    <a href="#">saiba mais</a>
                </div>
            </div>
        </div>
    </div>