
    <%- include("partials/header.html") %>
    <div class="container-fluid mt-5">
        <div class="container">
        <section class="artigos">
            <div class="row">
                <div class="col-12">
                    <div class="sidebar">
                    <h2><%- contagem %> resultados</h2>
                    <% posts.map((el)=>{ %>

                        <div class="artigoResumo">
                            <div class="row d-flex align-items-center">
                                <div class="col-12 col-sm-12 col-md-12 col-xl-5">
                                    <img src="https://static.vecteezy.com/ti/vetor-gratis/p1/1308704-fofo-homem-de-negocios-para-adesivo-e-foto-de-perfil-gr%C3%A1tis-vetor.jpg" width="100%" alt="">
                                </div>
                                <div class="col-12 col-sm-12 col-md-12 col-xl-7 resumoTitle">
                                    <h4 class="mt-0 mt-md-2"><%= el.title %></h4>
                                    <small><%= el.views %> views</small>
                                    <%- el.article %>
                                    <a href="<%= el.slug %>">saiba mais</a>
                                </div>
                            </div>
                        </div>
                        <% }) %>
                </div>
            </div>
        </section>  
    </div>
</div>
<%- include("partials/footer.html") %>